<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Timeline - Kitchen Sink</title>
		<!-- CSS -->
		<link href="http://veritetimeline.appspot.com/latest/timeline.css" rel="stylesheet">
		<style>
			html, body {
				height:100%;
				padding: 0px;
				margin: 0px;
			}
		</style>
		<!-- JavaScript -->
		<script type="text/javascript" src="javascripts/jquery.js"></script>
		<script type="text/javascript" src="javascripts/underscore.js"></script>
		<script type="text/javascript" src="javascripts/backbone.js"></script>
		<script type="text/javascript" src="javascripts/timeline.js"></script>
		<!--<script type="text/javascript">
			$(document).ready(function() {
				var timeline = new VMM.Timeline();
				timeline.init("./data.json");
				//timeline.init("http://veritetimeline.appspot.com/latest/examples/kitchen-sink.json");
			});
		</script>-->
	</head>
	<body>
			<script>
  				window.asdf = new Timeline.Model.date(<%= @json %>);
			</script>
			<!--<div id="timeline"></div>-->
			<script type="text/javascript" src="application.js"></script>
	</body>
</html>